<div class="d-flex align-items-center background">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 positioning-center">
                <h1 class="text-color-purple p-30">About <strong>Planify</strong></h1>
                <p class="text-color">We believe that social media has become a visual experience, and we’ve designed our platform to help you visually plan and schedule your photo and video content.</p>
                <p class="text-color"><strong>Planify </strong>helps streamline your social media strategy so you can set yourself up for more sales and success. Our features focus on visual scheduling, media management, marketing and analytics.</p>
                <button class="btn btn-outline-primary text-uppercase"> Contact Us </button>
            </div>


            <div class="col-sm-4 center">
                <img class="post" src="assets/images/aboutus.svg" alt="Logo">
            </div>

           
        </div>
    </div>
    
</div>
