<div class="container p-0">
    <nav class="navbar navbar-expand-md navbar-gray text-color">
      <a routerLink="/" class="navbar-brand text-color merienda">Planify</a>
      <p class="m-0"> Your marketing buddy </p> 
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapsse"
        data-bs-target="#toggleMobileMenu"
        aria-controls="toggleMobileMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="toggleMobileMenu">
        <ul class="navbar-nav ms-auto text-center">
          <li>
            <a class="nav-link text-color underline-hover-effect" routerLink="">Home</a>
          </li>
          <li>
            <a class="nav-link text-color underline-hover-effect" routerLink="pricing">Pricing</a>
          </li>
          <li>
            <a class="nav-link text-color underline-hover-effect" routerLink="aboutus">About Us</a>
          </li>
          <li>
            <a class="nav-link text-color underline-hover-effect" routerLink="howitworks" >How it Works</a>
          </li>
          <li>
            <button type="button" class="btn btn-outline-primary text-uppercase" routerLink="login">Login</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  