.background{
    height: 70vh;
    width: 100%;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.m-50{
    margin-top:50px;
}

.btn-outline-primary:hover{
    color:white;
    background-color: purple;
    transition: all 0.3s ease-in;
}

.btn-outline-primary{
    border-color: purple;
    color: purple;
}

.width{
    width:200px;
}

.text-color-purple{
    color:purple;
}

.text-color-blue{
    color: #010A4B;
}

.hover-effect{
    
    box-shadow: 0px 0px 0px grey;
    transition:  box-shadow .6s ease-out;
    box-shadow: .8px .9px 3px grey;
    
}

.hover-effect:hover{
    box-shadow: 1px 8px 20px grey;
    transition:  box-shadow .6s ease-in;
}