<div class="d-flex align-items-center background">
    <div class="container">
            <div class="row">
                
    
                
                <div class="col-sm-6 center">
                    <img class="post" src="assets/images/post2.svg" alt="posts2">
                </div>
                
                <div class="col-sm-6 positioning-center">
                    <p class="text-color-purple">VISUAL PLANNER</p> 
                    <h1 class="text-color">Plan a month's worth of social media posts in minutes</h1>   
                    <p class="text-color-purple">Scheduling your social media content is as simple as dragging-and-dropping. No, seriously.

                   </p>
               </div>
            </div>
    </div>
</div>