<div class="container m-50">
    <h1 class="text-color-blue">Find your <strong>perfect plan</strong></h1>
    <p class="text-color-blue">Whether you’re a Social Media pro or just getting started, <strong>Planify</strong> has you covered.</p>
    <button class="btn btn-outline-primary">Create Free Account</button>
    <p class="text-color-purple">Free forever.Set up in minutes.No credit card required.</p>
</div>
<div class="container background  center">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
        <div class="card width">
            <div class="card-body">
                <h3 class="card-title">Free</h3>
                <hr>
                <p>For individuals,<br> free forever</p>
                <hr>
                <p class="card-text">Always</p>
                <p class="card-text"><strong>0$ / Month</strong></p>
                <hr>
                <h6><strong>Includes</strong></h6>
                <br>
                <p>30 posts per social profile</p>
                <p>1 user</p>
            
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card">
            
            <div class="card-body">
                <h3 class="card-title text-color-blue">Starter</h3>
                <hr>
                <p>For building your<br> social strategy</p>
                <hr>
                <p class="card-text">From</p>
                <p class="card-text"><strong>15$ / Month</strong></p>
                <hr>
                <h6><strong>Includes</strong></h6>
                <br>
                <p>60 posts per social profile</p>
                <p>1 user</p>
            </div>
        </div>
        </div>

        <div class="col">
        <div class="card">
            
            <div class="card-body">
                <h3 class="card-title text-color-purple">Growth</h3>
                <hr>
                <p>For growing your brand <br> & driving engagement</p>
                <hr>
                <p class="card-text">From</p>
                <p class="card-text"><strong>25$ / Month</strong></p>
                <hr>
                <h6><strong>Includes</strong></h6>
                <br>
                <p>150 posts per social profile</p>
                <p>3 users</p>
            </div>
        </div>
        </div>

    </div>
</div>

<app-free></app-free>