.underline-hover-effect{
    display:inline-block;
    position: relative;
}

.underline-hover-effect::before{
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #010A4B;
    background-image: linear-gradient(to right, #010A4B, white);
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before{
    width: 100%;
}

.p-0{
    padding: 0;
}

.text-color{
    color:#010A4B;
}