
<div class="container p-0">
  <nav class="navbar navbar-expand-md navbar-gray text-color">
    <a href="/" class="navbar-brand text-color merienda">Sogno - Art Creators</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapsse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggleMobileMenu">
      <ul class="navbar-nav ms-auto text-center">
        <li>
          <a class="nav-link text-color underline-hover-effect" routerLink="">Home</a>
        </li>
        <li>
          <a class="nav-link text-color underline-hover-effect" routerLink="events">Events</a>
        </li>
        <li>
          <a class="nav-link text-color underline-hover-effect" routerLink="contact">Contact</a>
        </li>
        <li>
          <a class="nav-link text-color underline-hover-effect"  href="https://www.youtube.com/channel/UCenrHwE3KQm7XZ0kAfyjqrw" target="_blank">Our Videos</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
