.btn-outline-primary:hover{
    color:white;
    background-color: purple;
}

.btn-outline-primary{
    border-color: purple;
    color: purple;
}

.underline-hover-effect{
    display:inline-block;
    position: relative;
}

.underline-hover-effect::before{
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: purple;
    background-image: linear-gradient(to right, purple, white);
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before{
    width: 100%;
}

.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
    font-size: 10px;
    color: purple;
}

.hr-color {
    background-color: purple;
    border: 1px solid purple;
}
.text-color{
    color:#010A4B;
}

br{
    border-radius: 25%;
}
