<div class="container text-center background">
    <h1 class="text-color"><strong>Free Forever.</strong>Seriously.</h1>
    <p class="text-color-purple">No shady subscriptions, and no confusing contracts</p>
    <p class="text-color-purple"><strong>Planify is 100% free</strong> to use. You can upgrade or customize your plan any time.</p>
    <button class="btn btn-outline-primary text-uppercase" routerLink="pricing">Choose your plan</button>
    <br>
    <br>
    <p class="text-color-purple">Free forever.Set up in minutes.No credit card required.</p>
</div>