<div class="center background">
    <div class="border hover-effect position-center">
        <h1 class="text-center text-uppercase notpurple">Register</h1>
        <form [formGroup]="myForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted notpurple">We'll never share your email with anyone else.</small>
              <br>
              <span *ngIf="isValided('email')" class="warning m-b-20">Email cannot be blank</span>
            </div>

            <div class="form-group">
                <label for="exampleInputUsername">Username</label>
                <input type="text" formControlName="username" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter username">
                <span *ngIf="isValided('username')" class="warning m-b-20">Username cannot be blank</span>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              <span *ngIf="isValided('password')" class="warning m-b-20">Password cannot be blank</span>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword2">Re Type Password</label>
              <input type="password" formControlName="cnfpass" class="form-control" id="exampleInputPassword2" placeholder="Password">
              <span *ngIf="isValid('cnfpass')" class="warning m-b-20">Password and confirm password should match</span>
            </div>
            <br>
            
            
            <button type="submit" class="btn btn-outline-primary text-uppercase button-center" (click)="register()">RegiSter</button>
            <div class="text-center warning">
              {{successMessage}}
            </div>
            <button type="button" class="btn btn-outline-primary text-uppercase button-center" routerLink="/login">Login</button>
          </form>
  </div>
      
    
</div>
