<div class="d-flex align-items-center background">
    <div class="container">
            <div class="row">
                <div class="col-sm-8 positioning-center">
                     <p class="text-color-purple">YOUR GO-TO INSTAGRAM SCHEDULER</p> 
                     <h1 class="text-color">Manage your Social Media profile like a pro</h1>   
                     <p class="text-color-purple">Schedule your <strong>Instagram,Facebook & Twitter</strong> posts all in one place.

                    </p>

                    <button type="button" class="btn btn-outline-primary"> Create free account </button>
                </div>
    
                
                <div class="col-sm-4 center">
                    <img class="post" src="assets/images/post.svg" alt="Logo">
                </div>

            </div>
    </div>
</div>