<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/images/easy-to-use.png" alt="easy-to-use" class="icons">
            <p class="text-color"> Easy to use</p>
            <h5 class="text-color-blue"> Simple Software</h5>
        </div>
        <div class="col-sm-3">
            <img src="assets/images/wallet.png" alt="wallet" class="icons"> 
            <p class="text-color"> No-Pressure Pricing</p>
            <h5 class="text-color-blue"> Flexible Plans </h5>
        </div>
        <div class="col-sm-3">
            <img src="assets/images/eye.png" alt="eye" class="icons"> 
            <p class="text-color"> Visual First</p>
            <h5 class="text-color-blue"> Built for sharing posts </h5>
        </div>
        <div class="col-sm-3">
            <img src="assets/images/waves.png" alt="wave" class="icons">
            <h3 class="text-color-blue">More than sheduling</h3>
        </div>
    </div>
</div>